.geodir-category{
    padding: 10px;
    border: 1px solid #566985 !important;
}

.geodir-category i {
    display: block;
    font-size: 120px;
    padding-bottom: 10px;
}

.ul-vantagens{
    text-align: left;
    font-size: 30px;
    line-height: 2.2;
}

.ul-vantagens ul{
    margin: -20px 0;
}

@media (max-width: 1063px) { 
    .ul-vantagens{
        text-align: center;
        font-size: 20px;
        margin-top: 40px;
    }

    .card-vantagens img {
        width: 50%;
    } 
}

.ul-cartoes{
    font-size: 20px;
    text-align: left;
    color: #fff;
}

.ul-cartoes li i{
    color: #566985;
}

#sec3 h2,
#sec3 p {
    color: #fff;
}

#sec3 .section-separator::before{
    background: #566985;
}

#sec3 .section-subtitle {
    color: #566985;
}

#sec3 .section-subtitle::before {
    background: none;
}

.ul-links-social{
    display: inline-flex;
}

.ul-links-social li {
    background: #4DB7FE;
    box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.2);
    border-radius: 5px; 
    margin: 15px;
    height: 40px;
    width: 40px;
    line-height: 3.5;
}

.ul-links-social li:hover {
    background: #2C3B5A;
}

.ul-links-social li  a {
    padding: 10px;
}

.ul-links-social a:hover {
    color: #fff;
}

.ul-links-social li a i {
    font-size: 20px;
}


.contact-us-family {
    background: #f9f9f9;
    padding-bottom: 40px;
    padding-top: 0;
}

.contact-us-family .section-title {
    /* padding: 20px 0; */
    padding-bottom: 20px;
}

.contact-us-family .section-title h3 {
    float: left;
    width: 100%;
    text-align: center;
    color: #566985;
    font-size: 24px;
    font-weight: 700;
    padding: 15px 0;
}

.contact-us-family .contact-us-btn {
    background: #4DB7FE;
    box-shadow: 0px 0px 0px 7px rgba(0,0,0,0.1);
    top: 0;
    padding: 20px 55px;
    border-radius: 30px;
}

.contact-us-family .contact-us-btn:hover {
    background: #2C3B5A ;
    color: #fff;
}

.contact-us-family .join-wrap {
    padding: 40px 10px;
}

.pb-3 {
    padding-bottom: 1.7em;
}